*{
    padding: 0px;
    margin: 0px;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./imagens/fundo.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.gravata{
    width: 100%;
    height: 80%;
}

img{
    width: 100%;
    height: 100%;
}